@import "../node_modules/line-awesome/dist/line-awesome/css/line-awesome.css";
@import "../node_modules/bootstrap/dist/css/bootstrap-grid.css";
@import "../node_modules/bootstrap/dist/css/bootstrap.css";
@import "../node_modules/slick-carousel/slick/slick-theme.css";
@import "../node_modules/slick-carousel/slick/slick.css";
@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto:wght@100;300;400;500;700;900&display=swap");
body {
  font-family: "Karla", sans-serif !important;
  padding: 0;
  margin: 0;
  background-color: #e0e0e0;
}

.container-xxl,
.container-xl,
.container-lg,
.container-md,
.container-sm,
.container {
  padding: 15px;
  max-width: 1570px;
}

#main-nav-w {
  height: 100vh;
  background-color: #000000;
  background-image: linear-gradient(147deg, #000000 0%, #2c3e50 74%);
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  position: fixed;
}
#main-nav-w ul {
  margin: 0;
  padding: 0;
}
#main-nav-w li {
  list-style: none;
}
#main-nav-w li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}
#main-nav-w li a i {
  margin-right: 15px;
}
#main-nav-w li:hover {
  background-color: #ff3cac;
  background-image: linear-gradient(225deg, #ff3cac 0%, #784ba0 50%, #2b86c5 100%);
}
#main-nav-w .signed-user-div {
  color: white;
  text-transform: uppercase;
}
#main-nav-w .signed-user-div img {
  border-radius: 100%;
}

#main-content-w {
  float: right;
  margin-left: 16.66666667%;
}
#main-content-w .quick-link-block {
  background-color: #ff3cac;
  background-image: linear-gradient(225deg, #ff3cac 0%, #784ba0 50%, #2b86c5 100%);
  height: 25vh;
  border-radius: 15px;
}

.homepage-info-block-single {
  background-color: white;
  border: 1px solid #E0E0E0;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  border-radius: 15px;
}
.homepage-info-block-single .btn-secondary {
  border: none;
  transition: 1s;
}
.homepage-info-block-single .btn-secondary i {
  margin-left: 5px;
}
.homepage-info-block-single .block-header {
  border-bottom: 1px solid #E0E0E0;
}
.homepage-info-block-single table thead {
  background-color: #000000;
  background-image: linear-gradient(147deg, #000000 0%, #2c3e50 74%);
  color: white;
}
.homepage-info-block-single .homepage-bucketlist-board img {
  max-width: 100%;
}

.homepage-info-block-single:hover .btn-secondary {
  background-color: #ff3cac;
  background-image: linear-gradient(225deg, #ff3cac 0%, #784ba0 50%, #2b86c5 100%);
  width: auto;
}

.homepage-single-contact img,
.homepage-single-event img {
  border-radius: 100px;
}
.homepage-single-contact a,
.homepage-single-event a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  border-radius: 100%;
  text-decoration: none;
  color: white;
  background-color: #000000;
  background-image: linear-gradient(147deg, #000000 0%, #2c3e50 74%);
}
.homepage-single-contact i,
.homepage-single-event i {
  font-size: 20px;
}
.homepage-single-contact h5,
.homepage-single-event h5 {
  padding: 0;
  margin: 0;
}

#auth-w {
  background-image: url("../../../img/auth-bg.jpg");
  background-size: cover;
  backdrop-filter: blur(50px);
  height: 100vh;
}

#profile-w .profile-block-single {
  background-color: white;
  border: 1px solid #E0E0E0;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  border-radius: 15px;
}
#profile-w .profile-block-single .block-header {
  border-bottom: 1px solid #E0E0E0;
}
#profile-w .profile-block-single img {
  max-width: 192px;
}

/*# sourceMappingURL=theme.css.map */
